/* Prof says this will save us a headache, but I don't totally get it */
html{
    box-sizing: border-box;
  }
  *,
  *::before,
  *:after{
    box-sizing: inherit;
  }

.container{
  max-width: 1200px;
  margin: 0 auto;
}

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}
nav h1 {
  display: inline-block;
}
.starsquare {
  width: 80%;
  float: left;
  background-color: black;
}
